/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  overflow: hidden;
  z-index: 100;
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: rgba(255,255,255,.4);
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #4d4d4d;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #999999;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  /* Height of the header */
  min-height: 100%;
}
.search_input{
  left:0;
  right:0;
  top:2em;
  bottom:0;
  position:absolute;
  z-index:1;
  padding:0 10px;
}
.search_input input {
  width:100%;
}
.header {
  width:100%;
  height:10em;
  background:url(../images/older_Atrium.jpg) no-repeat center center;
  background-size:cover;
  text-align:center;
  -webkit-transition: height 0.8s;
  -moz-transition: height 0.8s;
  transition: height 0.8s;
}
.landing {
  height:35em;
  width:100%;
  background:url(../images/older_Atrium.jpg) no-repeat center center;
  background-size:cover;
  text-align:center;
}
.search_input h1{
  color:#ffffff;
}
.feature_box {
  text-align:center;
  height:10em;
  margin-top: 10px;
}
.feature_box:hover{
  cursor:pointer;
  opacity:.5;
}
.color.feature_box{
  background:url(../images/dots.png) center center no-repeat;
  background-size:cover;
}
.artist.feature_box{
  background:url(../images/by-artist.png) center center no-repeat;
  background-size:cover;
}
.highlights.feature_box{
  background:url(../images/highlights.png) center center no-repeat;
  background-size:cover;
}
.new.feature_box{
  background:url(../images/recent.png) center center no-repeat;
  background-size:cover;
}
.special_features {
  margin: 10px 0;
  position:relative;
  z-index:2;
}
.dynamic_content{
  display:inline-block;
  width:100%;
  height:50em;
  padding:20px;
}
.horizontal_list{
  margin:20px 0;
  width:100%;
  overflow-x:scroll;
  white-space:nowrap;
}
.horizontal_list_item{
  width:20em;
  height:20em;
  background:#4d4d4d;
  margin:10px;
  display:inline-block;
  position:relative;
}
a.scrollToTop .icon{
  line-height:45px;
}
a.scrollToTop, a:visited.scrollToTop, a:hover.scrollToTop {
  text-decoration:none;
  width:40px;
  height:40px;
  position:fixed;
  bottom:10px;
  right:10px;
  color:#ffffff;
  background:#999999;
  border-radius:20px;
  text-align:center;
  vertical-align:middle;
  opacity:.7;
  z-index:100;
}
.action_bar{
  width:100%;
  background:rgba(255,255,255,.5);
  position:absolute;
  bottom:0;
}
.action_bar ul{
  list-style-type:none;
  margin:0;
  padding:0;
  text-align:right;
}
.action_bar ul li:before{
  content:'';
}
.action_bar ul li{
  padding:0 10px;
  display:inline-block;
}
.action_bar ul li a{
  color:#ffffff;
}
.evergreen_content{
  display:inline-block;
  height:10em;
  width:100%;
  padding:20px;
}
@keyframes animatedBackground {
	from { background-position: top center; }
	to { background-position:  center center; }
}
.department_list_item {
  height:13em;
  background:#000000;
  margin:5px;
  padding-left:20px;
  cursor:pointer;
  animation: animatedBackground 1s linear;
}
.department_list_item h3{
  font-weight:700;
  text-decoration:none;
  color:#ffffff;
  line-height:1em;
  text-align:left;
  padding-top:6em;
}
.department_list_item.africa{
  background:url("https://api.artsmia.org/images/4866/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.department_list_item.asia{
  background:url("https://api.artsmia.org/images/12134/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.department_list_item.contemporary{
  background:url("https://api.artsmia.org/images/1721/600/medium.jpg") no-repeat center center;
  background-size: cover;
}
.department_list_item.decorative{
  background:url("https://api.artsmia.org/images/8024/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
.department_list_item.paintings{
  background:url("https://api.artsmia.org/images/1348/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
.department_list_item.photography{
  background:url("https://api.artsmia.org/images/89324/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
.department_list_item.prints{
  background:url("https://api.artsmia.org/images/9194/800/medium.jpg") no-repeat center center;
  background-size: cover;
}
.department_list_item.curatorial{
  background:url("http://new.artsmia.org/wp-content/themes/new_artsmia/images/about/kaywin.jpg") no-repeat center center;
  background-size: cover;
}
.news_information{
  padding:20px;
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
